@import '_setup';
@import 'vars';
@import '_globalStyle';

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 70px;

    .hamburger {
        position: absolute;
        right: 0;
        margin-right: 20px;
        margin-top: 20px;
        padding: 10px;
        z-index: 99;
        display: none;
        border: 2px dashed $yellow;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 5px;
        background: white;
        margin: 5px auto;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }


    .hamburger.active .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .line:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.active .line:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    ul li a {
        padding: 20px;
        font-weight: 500;
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    ul li a:hover,
    ul li a:focus {
        background-color: $green;
        padding: 10px;
    }

    ul li {
        display: inline-block;
    }

    li:first-child a {
        color: $yellow;
    }
}


.homeHeader {
    min-height: 100vh;
    background-image: url(../assets/home-image-1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    .headerBox {
        width: 45%;
        height: auto;
        position: absolute;
        right: 0;
        bottom: -10%;
        right: 0;
    }

    h2 {
        color: white;
        font-size: 6rem;
        line-height: 0.9;
        font-weight: 400;
        margin: auto 0;
        z-index: 2;
        padding-top: 60px;
        letter-spacing: 5px;
    }

    h2 span {
        color: $yellow;
    }
}

.blogHeader {
    min-height: 50vh;
    background-image: url("../assets/blog-header-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contactHeader {
    background-image: url("../assets/contact-header-1.jpg");
}